{{> _head }}
{{> _header title="Thank you for your order" }}

{{> _content_start }}
<p style="margin: 0 0 16px;">Hi {{ name }},</p>
<p style="margin: 0 0 16px;">Just to let you know — we've received your order,
  and it is now being processed:</p>

<h2
  style='color: #7f54b3; display: block; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left;'>
  [Order #{{ order.id }}] ({{ createdAt }})</h2>

<div style="margin-bottom: 40px;">
  {{> _order_details }}
</div>

<table id="addresses" cellspacing="0" cellpadding="0" border="0"
  style="width: 100%; vertical-align: top; margin-bottom: 40px; padding: 0;" width="100%">
  <tr>
    <td valign="top" width="50%"
      style="text-align: left; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; border: 0; padding: 0;"
      align="left">
      <h2
        style='color: #7f54b3; display: block; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left;'>
        Billing address</h2>

      <address class="address" style="padding: 12px; color: #636363; border: 1px solid #e5e5e5;">
        {{ order.billingFirstName }} {{ order.billingLastName }}<br>{{
        order.billingAddress }}<br>{{ order.billingCity }}<br>{{ order.billingState
        }}<br>{{ order.billingZip }} <br><a href="tel:{{order.billingPhone}}"
          style="color: #7f54b3; font-weight: normal; text-decoration: underline;">{{ order.billingPhone }}</a>
        <br>{{ order.billingEmail }}
      </address>
    </td>
    <td valign="top" width="50%"
      style="text-align: left; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; padding: 0;"
      align="left">
      <h2
        style='color: #7f54b3; display: block; font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left;'>
        Shipping address</h2>

      <address class="address" style="padding: 12px; color: #636363; border: 1px solid #e5e5e5;">
        {{ order.shippingFirstName }} {{ order.shippingLastName }}<br>{{
        order.shippingAddress }}<br>{{ order.shippingCity }}<br>{{
        order.shippingState }}<br>{{ order.shippingZip }} </address>
    </td>
  </tr>
</table>
<p style="margin: 0 0 16px;">Thanks for using rentakloud.com!</p>
{{> _content_end }}
{{> _end }}